In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls Applied-Deep-Learning-with-Keras

Lesson01  Lesson03  Lesson05  Lesson07	Lesson09  README.md
Lesson02  Lesson04  Lesson06  Lesson08	LICENSE

In [3]:
!ls Applied-Deep-Learning-with-Keras/Lesson06

Activity11.ipynb  data		    Exercise17.ipynb
Activity12.ipynb  Exercise16.ipynb  Exercise18.ipynb

In [4]:
!ls Applied-Deep-Learning-with-Keras/Lesson06/data

Flu.csv  Health_Data.csv

In [5]:
!head Applied-Deep-Learning-with-Keras/Lesson06/data/Health_Data.csv

Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
1,33,Urgent,Y,0,M,1,0,1,0
2,34,Emergency,N,0,M,1,0,22,0
3,88,Trauma,Y,1,M,1,1,100,1
4,56,Elective,Y,0,M,1,0,2,0
5,45,Trauma,Y,0,M,1,0,34,0
6,23,Elective,N,0,M,0,0,123,0
7,67,Elective,N,0,M,0,0,23,0
8,55,Elective,N,0,M,1,0,123,1
9,77,Trauma,N,0,F,1,0,44,0

In [6]:
patient_data = pd.read_csv(
    "Applied-Deep-Learning-with-Keras/" +
    "Lesson06/data/Health_Data.csv"
)

In [9]:
patient_data.head(30)

,Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
0,1,33,Urgent,Y,0,M,1,0,1,0
1,2,34,Emergency,N,0,M,1,0,22,0
2,3,88,Trauma,Y,1,M,1,1,100,1
3,4,56,Elective,Y,0,M,1,0,2,0
4,5,45,Trauma,Y,0,M,1,0,34,0
5,6,23,Elective,N,0,M,0,0,123,0
6,7,67,Elective,N,0,M,0,0,23,0
7,8,55,Elective,N,0,M,1,0,123,1
8,9,77,Trauma,N,0,F,1,0,44,0
9,10,88,Emergency,N,0,M,1,0,3,1
10,11,76,Urgent,N,0,F,1,0,2,1
11,12,64,Urgent,N,0,F,1,1,45,0
12,13,53,Urgent,N,0,F,0,1,32,0
13,14,0,Newborn,N,0,M,0,0,33,0
14,15,0,Newborn,N,0,F,0,0,22,0
15,16,0,Newborn,N,0,M,0,0,7,0
16,17,0,Newborn,N,0,F,0,0,7,0
17,18,54,Urgent,Y,1,M,1,0,32,0
18,19,5,Emergency,Y,1,M,1,0,43,0
19,20,4,Emergency,Y,0,F,1,0,32,0
20,21,4,Trauma,Y,0,M,1,0,46,0
21,22,5,Trauma,N,0,F,1,0,54,0
22,23,6,Elective,N,0,F,1,0,90,0
23,24,7,Elective,N,0,M,1,0,76,0
24,25,33,Trauma,N,0,F,1,0,44,0
25,26,32,Trauma,N,0,F,1,0,78,0
26,27,90,Urgent,N,1,M,1,0,5,0
27,28,54,Urgent,N,0,M,1,0,4,0
28,29,6,Urgent,N,0,M,1,0,4,0
29,30,78,Emergency,N,0,F,1,0,96,1

In [10]:
patient_data.describe()

,Patient_id,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Readmitted
count,357.00000,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,179.00000,42.574230,0.341737,0.596639,0.378151,43.182073,0.193277
std,103.20126,29.274624,0.474957,0.491261,0.485606,47.362609,0.395423
min,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,90.00000,14.000000,0.000000,0.000000,0.000000,12.000000,0.000000
50%,179.00000,35.000000,0.000000,1.000000,0.000000,32.000000,0.000000
75%,268.00000,67.000000,1.000000,1.000000,1.000000,55.000000,0.000000
max,357.00000,96.000000,1.000000,1.000000,1.000000,352.000000,1.000000

In [12]:
patient_data.describe(include=['object'])

       Admission_type PreExistingDisease Gender
count             357                357    357
unique              5                  2      2
top            Urgent                  N      F
freq              131                228    186

In [13]:
patient_data.head()

,Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
0,1,33,Urgent,Y,0,M,1,0,1,0
1,2,34,Emergency,N,0,M,1,0,22,0
2,3,88,Trauma,Y,1,M,1,1,100,1
3,4,56,Elective,Y,0,M,1,0,2,0
4,5,45,Trauma,Y,0,M,1,0,34,0

In [14]:
help(pd.get_dummies)

Help on function get_dummies in module pandas.core.reshape.reshape:

get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None) -> 'DataFrame'
    Convert categorical variable into dummy/indicator variables.

    Parameters
    ----------
    data : array-like, Series, or DataFrame
        Data of which to get dummy indicators.
    prefix : str, list of str, or dict of str, default None
        String to append DataFrame column names.
        Pass a list with length equal to the number of columns
        when calling get_dummies on a DataFrame. Alternatively, `prefix`
        can be a dictionary mapping column names to prefixes.
    prefix_sep : str, default '_'
        If appending prefix, separator/delimiter to use. Or pass a
        list or dictionary as with `prefix`.
    dummy_na : bool, default False
        Add a column to indicate NaNs, if False NaNs are ignored.
    columns : list-like, default None
        Column names in the DataFrame to be encoded.
        If `columns` is None then all the columns with
        `object` or `category` dtype will be converted.
    sparse : bool, default False
        Whether the dummy-encoded columns should be backed by
        a :class:`SparseArray` (True) or a regular NumPy array (False).
    drop_first : bool, default False
        Whether to get k-1 dummies out of k categorical levels by removing the
        first level.
    dtype : dtype, default np.uint8
        Data type for new columns. Only a single dtype is allowed.

        .. versionadded:: 0.23.0

    Returns
    -------
    DataFrame
        Dummy-coded data.

    See Also
    --------
    Series.str.get_dummies : Convert Series to dummy codes.

    Examples
    --------
    >>> s = pd.Series(list('abca'))

    >>> pd.get_dummies(s)
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0

    >>> s1 = ['a', 'b', np.nan]

    >>> pd.get_dummies(s1)
       a  b
    0  1  0
    1  0  1
    2  0  0

    >>> pd.get_dummies(s1, dummy_na=True)
       a  b  NaN
    0  1  0    0
    1  0  1    0
    2  0  0    1

    >>> df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
    ...                    'C': [1, 2, 3]})

    >>> pd.get_dummies(df, prefix=['col1', 'col2'])
       C  col1_a  col1_b  col2_a  col2_b  col2_c
    0  1       1       0       0       1       0
    1  2       0       1       1       0       0
    2  3       1       0       0       0       1

    >>> pd.get_dummies(pd.Series(list('abcaa')))
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0
    4  1  0  0

    >>> pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)
       b  c
    0  0  0
    1  1  0
    2  0  1
    3  0  0
    4  0  0

    >>> pd.get_dummies(pd.Series(list('abc')), dtype=float)
         a    b    c
    0  1.0  0.0  0.0
    1  0.0  1.0  0.0
    2  0.0  0.0  1.0

In [15]:
X = patient_data.iloc
print(X)

<pandas.core.indexing._iLocIndexer object at 0x7f555ec22f50>

In [17]:
X = patient_data.iloc[:, 1:9]
print(X)

     Age Admission_type PreExistingDisease  PreviousSurgery Gender  Smoker  \
0     33         Urgent                  Y                0      M       1
1     34      Emergency                  N                0      M       1
2     88         Trauma                  Y                1      M       1
3     56       Elective                  Y                0      M       1
4     45         Trauma                  Y                0      M       1
..   ...            ...                ...              ...    ...     ...
352   14         Trauma                  Y                1      M       1
353   45         Trauma                  N                0      F       1
354   67         Trauma                  N                1      M       1
355   43         Trauma                  Y                1      M       0
356    2         Trauma                  Y                1      F       0

     Homeless  DaysinHospital
0           0               1
1           0              22
2           1             100
3           0               2
4           0              34
..        ...             ...
352         1               2
353         1               2
354         1               2
355         1               2
356         1               2

[357 rows x 8 columns]

In [18]:
y = patient_data.iloc[:, 9]
print(y)

0      0
1      0
2      1
3      0
4      0
      ..
352    0
353    0
354    0
355    0
356    0
Name: Readmitted, Length: 357, dtype: int64

In [21]:
print(X.iloc[:, 1])

0         Urgent
1      Emergency
2         Trauma
3       Elective
4         Trauma
         ...
352       Trauma
353       Trauma
354       Trauma
355       Trauma
356       Trauma
Name: Admission_type, Length: 357, dtype: object

In [22]:
SpecType = pd.get_dummies(
    X.iloc[:, 1], 
    drop_first = True, 
    prefix = 'SpecType'
)

In [23]:
print(SpecType)

     SpecType_Emergency  SpecType_Newborn  SpecType_Trauma  SpecType_Urgent
0                     0                 0                0                1
1                     1                 0                0                0
2                     0                 0                1                0
3                     0                 0                0                0
4                     0                 0                1                0
..                  ...               ...              ...              ...
352                   0                 0                1                0
353                   0                 0                1                0
354                   0                 0                1                0
355                   0                 0                1                0
356                   0                 0                1                0

[357 rows x 4 columns]

In [27]:
preDie = pd.get_dummies(
    X.iloc[:, 2], 
    drop_first = True, 
    prefix = 'preDie'
)

In [28]:
print(preDie)

     preDie_Y
0           1
1           0
2           1
3           1
4           1
..        ...
352         1
353         0
354         0
355         1
356         1

[357 rows x 1 columns]

In [32]:
X.drop(
    [
        'Admission_type', 
        'PreExistingDisease', 
        'Gender'
    ],
    axis = 1,
    inplace = True
)

print(X)

     Age  PreviousSurgery  Smoker  Homeless  DaysinHospital
0     33                0       1         0               1
1     34                0       1         0              22
2     88                1       1         1             100
3     56                0       1         0               2
4     45                0       1         0              34
..   ...              ...     ...       ...             ...
352   14                1       1         1               2
353   45                0       1         1               2
354   67                1       1         1               2
355   43                1       0         1               2
356    2                1       0         1               2

[357 rows x 5 columns]

In [34]:
X = pd.concat(
    [X, SpecType, preDie], axis = 1
)

In [35]:
print(X)

     Age  PreviousSurgery  Smoker  Homeless  DaysinHospital  \
0     33                0       1         0               1
1     34                0       1         0              22
2     88                1       1         1             100
3     56                0       1         0               2
4     45                0       1         0              34
..   ...              ...     ...       ...             ...
352   14                1       1         1               2
353   45                0       1         1               2
354   67                1       1         1               2
355   43                1       0         1               2
356    2                1       0         1               2

     SpecType_Emergency  SpecType_Newborn  SpecType_Trauma  SpecType_Urgent  \
0                     0                 0                0                1
1                     1                 0                0                0
2                     0                 0                1                0
3                     0                 0                0                0
4                     0                 0                1                0
..                  ...               ...              ...              ...
352                   0                 0                1                0
353                   0                 0                1                0
354                   0                 0                1                0
355                   0                 0                1                0
356                   0                 0                1                0

     preDie_Y
0           1
1           0
2           1
3           1
4           1
..        ...
352         1
353         0
354         0
355         1
356         1

[357 rows x 10 columns]

In [36]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.3, random_state = 1
)

In [40]:
print(X_train.shape)
print(y_train.shape)

(249, 10)
(249,)

In [41]:
print(X_test.shape)
print(y_test.shape)

(108, 10)
(108,)

In [43]:
print(108 / 357)
print(249 / 357)

0.3025210084033613
0.6974789915966386

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
print(X_train)

     Age  PreviousSurgery  Smoker  Homeless  DaysinHospital  \
62    23                1       1         0              56
154    6                0       1         1              77
185   44                0       0         0              74
102   88                0       1         1               3
207   91                0       1         1              99
..   ...              ...     ...       ...             ...
203   91                1       1         0              96
255   35                1       1         1              25
72    48                0       0         0              14
235   91                0       1         1             123
37    77                0       1         0              44

     SpecType_Emergency  SpecType_Newborn  SpecType_Trauma  SpecType_Urgent  \
62                    0                 0                1                0
154                   0                 0                0                1
185                   1                 0                0                0
102                   0                 0                1                0
207                   0                 0                1                0
..                  ...               ...              ...              ...
203                   0                 0                1                0
255                   0                 0                0                1
72                    0                 0                0                0
235                   0                 0                0                1
37                    0                 0                0                1

     preDie_Y
62          0
154         0
185         0
102         0
207         1
..        ...
203         1
255         0
72          0
235         1
37          0

[249 rows x 10 columns]

In [46]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
print(X_train)

[[-0.63137586  1.30633906  0.85391256 ...  1.94639707 -0.78541907
  -0.75891328]
 [-1.20477514 -0.76549805  0.85391256 ... -0.51376978  1.27320565
  -0.75891328]
 [ 0.07694089 -0.76549805 -1.17108009 ... -0.51376978 -0.78541907
  -0.75891328]
 ...
 [ 0.21185837 -0.76549805 -1.17108009 ... -0.51376978 -0.78541907
  -0.75891328]
 [ 1.66222125 -0.76549805  0.85391256 ... -0.51376978  1.27320565
   1.31767361]
 [ 1.19001008 -0.76549805  0.85391256 ... -0.51376978  1.27320565
  -0.75891328]]

In [47]:
X_train = pd.DataFrame(
    X_train, columns = X_test.columns
)

print(X_train)

          Age  PreviousSurgery    Smoker  Homeless  DaysinHospital  \
0   -0.631376         1.306339  0.853913 -0.745822        0.288742
1   -1.204775        -0.765498  0.853913  1.340803        0.739842
2    0.076941        -0.765498 -1.171080 -0.745822        0.675399
3    1.561033        -0.765498  0.853913  1.340803       -0.849748
4    1.662221        -0.765498  0.853913  1.340803        1.212423
..        ...              ...       ...       ...             ...
244  1.662221         1.306339  0.853913 -0.745822        1.147980
245 -0.226623         1.306339  0.853913  1.340803       -0.377168
246  0.211858        -0.765498 -1.171080 -0.745822       -0.613458
247  1.662221        -0.765498  0.853913  1.340803        1.727966
248  1.190010        -0.765498  0.853913 -0.745822        0.030971

     SpecType_Emergency  SpecType_Newborn  SpecType_Trauma  SpecType_Urgent  \
0             -0.341456         -0.295527         1.946397        -0.785419
1             -0.341456         -0.295527        -0.513770         1.273206
2              2.928638         -0.295527        -0.513770        -0.785419
3             -0.341456         -0.295527         1.946397        -0.785419
4             -0.341456         -0.295527         1.946397        -0.785419
..                  ...               ...              ...              ...
244           -0.341456         -0.295527         1.946397        -0.785419
245           -0.341456         -0.295527        -0.513770         1.273206
246           -0.341456         -0.295527        -0.513770        -0.785419
247           -0.341456         -0.295527        -0.513770         1.273206
248           -0.341456         -0.295527        -0.513770         1.273206

     preDie_Y
0   -0.758913
1   -0.758913
2   -0.758913
3   -0.758913
4    1.317674
..        ...
244  1.317674
245 -0.758913
246 -0.758913
247  1.317674
248 -0.758913

[249 rows x 10 columns]

In [48]:
X_train.head()

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,SpecType_Emergency,SpecType_Newborn,SpecType_Trauma,SpecType_Urgent,preDie_Y
0,-0.631376,1.306339,0.853913,-0.745822,0.288742,-0.341456,-0.295527,1.946397,-0.785419,-0.758913
1,-1.204775,-0.765498,0.853913,1.340803,0.739842,-0.341456,-0.295527,-0.513770,1.273206,-0.758913
2,0.076941,-0.765498,-1.171080,-0.745822,0.675399,2.928638,-0.295527,-0.513770,-0.785419,-0.758913
3,1.561033,-0.765498,0.853913,1.340803,-0.849748,-0.341456,-0.295527,1.946397,-0.785419,-0.758913
4,1.662221,-0.765498,0.853913,1.340803,1.212423,-0.341456,-0.295527,1.946397,-0.785419,1.317674

In [49]:
X_test = sc.transform(X_test)
X_test = pd.DataFrame(
    X_test, columns = X_train.columns
)

In [50]:
X_train = X_train.values
y_train = y_train.values
X_test = X_test.values
y_test = y_test.values

In [51]:
print(type(X_train))

<class 'numpy.ndarray'>